<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Testsuite">
  <suite-files>
	  <suite-file path="./BasicFunctionalitySuite.xml"></suite-file>
      <suite-file path="./PaymentFunctionalitySuite.xml"></suite-file>
  </suite-files>
</suite> <!-- Default suite -->
